@font-face {
    font-family: Lexend;
    src: url(Lexend-VariableFont_wght.ttf);
}

li{display: inline-block; padding-right: 2%; padding-left: 2%; margin-top: 1%;}
.heading{text-align: center; color: black; font-size: 50px}

.form-heading{
    text-align: center; color: rgb(87, 87, 87); font-size: 30px; font-weight: 200; padding: 1%;
}
.credentials{display: block; padding: 1%;}
* {font-family: Lexend, sans-serif;}
#formmy{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
#submit-button{
    display: inline-block; 
    margin: 2%; 
    align-self: center; 
    text-align: center; 
    width: 12%;
    background-color: black;
    color: white;
    height: 25px;
    font-family: Lexend, sans-serif;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgb(160, 170, 173);
}
.inputbox{
    border-radius: 5px;
    border: black;
    border-width: 1px;
    background-color:#e3e1e1;
    box-shadow: 5px 5px 5px rgb(160, 170, 173);
}

.plans{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.plan{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border: black;
    border-width: 1px;
    border-radius: 5px;
    background-color:#e3e1e1;
    box-shadow: 5px 5px 5px rgb(160, 170, 173);
    padding: 1%;
    width: 20%;
}

.plan-name{
    text-align: center;
}

.plan-description{
    display: flex;
    flex-direction: column;
    list-style: circle;
}

.menu-link{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#sign-out-button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: Lexend, sans-serif;
    font-size: 15px;
}

#searchform{
    display: flex;
    justify-content: center;
}


#title-query{
    padding-left: 10px;
    padding-right: 10px;
}

.search-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    padding: 1%;
    width: 300px
}

.movie-poster{
    width: 300px;
    height: 440px;
    box-shadow: 5px 5px 5px rgb(160, 170, 173);
}

.movie-title{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}